<!DOCTYPE html>
<html id="html" lang="en">
    <head>
    <audio id="sound" src="../static/sound/magicSpell.wav" preload="auto"></audio>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ url_for("static", filename="style/main.css")}}'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block body %}{% endblock %} 
      
</body>

<script>
    function sound(){
        document.getElementById('sound').play();
    }
</script>
</html>